menu "ARM Options"
	depends on ARCH_ARM

    config ARCH
        string
    	default "arm"

    config ARCH_DEFAULTS
    	bool
	    default y
        select NOMMU
endmenu

source "kernel/arch/arm/machines/microbit/Kconfig"
