if MACHINE_RASPI3
menu "Raspberry Pi 3B+ Machine Support"
	depends on ARCH_ARM64

    config MACHINE
        string
        default "raspi3"

    config FORCE_REBOOT_BY_WATCHDOG
        bool "Enable watchdog timer to reboot the system periodically"
        default n
        help
            This feature is pretty useful for my baremetal testing environment
            on Raspberry Pi.

    config WATCHDOG_TIMEOUT
        int "The timeout value for the watchdog timer (in seconds)"
        depends on FORCE_REBOOT_BY_WATCHDOG
        range 1 10
        default 10

endmenu
endif
