---
Checks: >-
  *,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-include-order,
  -clang-analyzer-valist.Uninitialized,
  -clang-analyzer-unix.Malloc,
  -google-readability-todo
CheckOptions:
# We need LLVM 10 to use this option...
#  - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
#    value: true
