mainmenu "Resea Build Configuration"

choice
    prompt "Build mode"
    config BUILD_DEBUG
        bool "Debug"
    config BUILD_RELEASE
        bool "Release"
endchoice

source "$(BUILD_DIR)/Kconfig.autogen"

menu "Common Setup (kernel and userland)"
    choice
        prompt "Compiler optimization level"
        default OPT_LEVEL_2
        config OPT_LEVEL_0
            bool "-O0"
        config OPT_LEVEL_2
            bool "-O2"
        config OPT_LEVEL_3
            bool "-O3"
        config OPT_LEVEL_S
            bool "-Os"
    endchoice

    config NUM_SYMBOLS
        int "The (maximum) number of symbols"
        range 0 4096
        default 512
endmenu

source "kernel/Kconfig"
source "libs/resea/Kconfig"
