mainmenu "Resea Build Configuration"

choice
    prompt "Target CPU architecture"
config ARCH_X64
    bool "x86_64"
endchoice

menu "Build options"
config BUILD_DIR
    string "Build directory"
    default "build"

choice
    prompt "Build mode"
config BUILD_DEBUG
    bool "Debug"
config BUILD_RELEASE
    bool "Release"
endchoice

config LLVM_PREFIX
    string "Clang/LLD/LLVM toolchain prefix"
    default "$(DEFAULT_LLVM_PREFIX)"

config LLVM_SUFFIX
    string "Clang/LLD/LLVM toolchain suffix"
    default "$(DEFAULT_LLVM_SUFFIX)"

config GRUB_PREFIX
    string "GRUB commands prefix"
    default "$(DEFAULT_GRUB_PREFIX)"
endmenu

menu "Servers"
    config INIT
        string "The init server"
        default "init"
    source "servers/*/Kconfig"
endmenu
