mainmenu "Resea Build Configuration"

choice
    prompt "Target CPU architecture"
    config ARCH_X64
        bool "x86_64"
    config ARCH_ARM64
        bool "ARM64 (AArch64)"
    config ARCH_ARM
        bool "ARM"
    config ARCH_EXAMPLE
        bool "Example (a template for porting)"
endchoice

if ARCH_ARM64
choice
    prompt "Target Machine"
    config MACHINE_RASPI3
        bool "Raspberry Pi 3B+"
endchoice
endif

if ARCH_ARM
choice
    prompt "Target Machine"
    config MACHINE_MICROBIT
        bool "Micro:bit"
endchoice
endif

choice
    prompt "Build mode"
    config BUILD_DEBUG
        bool "Debug"
    config BUILD_RELEASE
        bool "Release"
endchoice

menu "Common Setup (kernel and userland)"
    choice
        prompt "Compiler optimization level"
        default OPT_LEVEL_2
        config OPT_LEVEL_0
            bool "-O0"
        config OPT_LEVEL_2
            bool "-O2"
        config OPT_LEVEL_3
            bool "-O3"
        config OPT_LEVEL_S
            bool "-Os"
    endchoice

    config NUM_SYMBOLS
        int "The (maximum) number of symbols"
        range 0 4096
        default 512
endmenu

source "kernel/Kconfig"
source "libs/resea/Kconfig"
source "$(BUILD_DIR)/Kconfig.autogen"
