#![no_std]
#![feature(alloc)]

#[macro_use]
extern crate resea;
extern crate alloc;

use resea::Channel;

struct {{ server_name | camelcase }}Server {
}

impl {{ server_name | camelcase }}Server {
    pub fn new() -> {{ server_name | camelcase }}Server {
        {{ server_name | camelcase }}Server {
        }
    }
}

fn main() {
    println!("{{ server_name }}: starting");
    let mut server = {{ server_name | camelcase }}Server::new();
    let mut server_ch = Channel::create();

    // serve_forever!(&mut server, &mut server_ch, [putchar]);
}
