config MODULES
    def_bool y
	option modules
	default y

menu "Servers"
    choice
        prompt "Initial task"
        config BOOT_TASK_VM
            bool "VM"
        config BOOT_TASK_NOMMU_TEST
            bool "Kernel test for a NOMMU CPU"
            depends on NOMMU
    endchoice

    menu "Enabled servers"
        comment "<*>: autostarted / <M>: manually started from shell"

        config SHELL_SERVER
            tristate "Shell"
        config DM_SERVER
            tristate "Device Management server"
        config TCPIP_SERVER
            tristate "TCP/IP server"
        config WEBAPI_SERVER
            tristate "Web API server"
        config MINLIN_SERVER
            tristate "Linux ABI Emulation Layer"
            select ABI_EMU

        menu "Applications"
            config HELLO_SERVER
                tristate "Hello World"
            config BENCHMARK_SERVER
                tristate "Benchmark"
            config UTILS_SERVER
                tristate "Command-line Utilities"
            config TEST_SERVER
                tristate "Kernel/Userland integrated tests"
        endmenu

        menu "Filesystem Drivers"
            config TARFS_SERVER
                tristate "Tarball (ephemeral) file system driver"
            config FATFS_SERVER
                tristate "FAT file system driver"
        endmenu

        menu "Device Drivers"
            config RAMDISK_SERVER
                tristate "RAM disk driver"
            config E1000_SERVER
                tristate "e1000 NIC driver"
                depends on DM_SERVER
            config VIRTIO_NET_SERVER
                tristate "virtio-net NIC driver"
                depends on DM_SERVER
        endmenu

        config HELLO_FROM_RUST_SERVER
                tristate "Hello World from Rust"
        config EXAMPLE_SERVER
            tristate "Example server (template)"
    endmenu

    source "servers/*/Kconfig"
endmenu
