menu "Kernel"

if ARCH_X64
source "kernel/arch/x64/Kconfig"
endif

config FASTPATH
    bool "Enable IPC fastpath"
    default y

config PREFETCH
    bool "Utilize prefetching"
    default y

endmenu # "Kernel"
