menu "Kernel"
    source "kernel/arch/x64/Kconfig"

    config SEMIHOSTING
        bool "Use semihosting features (e.g. QEMU)"
        default y

    config TRACE_IPC
        bool "Trace message passing"
        default n

    config IPC_FASTPATH
        bool "Enable IPC fastpath"
        default y

    config NOMMU
        bool "Disable virtual memory"
        default n
        depends on ARCH_ARM

    config NUM_TASKS
        int "The (maximum) number of tasks"
        range 1 512
        default 64

    config TASK_NAME_LEN
        int "The maximum length of a task name"
        range 4 64
        default 16

    config ONESHOT_HEAP_SIZE
        int "The size of oneshot heap in # of pages"
        default 4096
        depends on !NOMMU
        help
            This config specifies the size of statically allocated heap used
            for allocating pages for the init task. Increase the value if you
            got "run out of memory" panic on boot.

    config TASK_TIME_SLICE_MS
        int "The context switching time slice in milliseconds."
        range 5 200
        default 10

    config KLOG_BUF_SIZE
        int "The size of kernel log buffer."
        range 1 8192
        default 1024

    config ABI_EMU
        bool "Enable ABI emulation"
        default n
endmenu
