# CONFIG_ARCH_X64 is not set
# CONFIG_ARCH_ARM64 is not set
CONFIG_ARCH_ARM=y
CONFIG_BUILD_DEBUG=y
# CONFIG_BUILD_RELEASE is not set

#
# Common Setup (kernel and userland)
#
CONFIG_NUM_SYMBOLS=128
# end of Common Setup (kernel and userland)

#
# Kernel
#

#
# ARM Options
#
CONFIG_ARCH="arm"
CONFIG_ARCH_DEFAULTS=y
# end of ARM Options

CONFIG_TRACE_IPC=y
CONFIG_IPC_FASTPATH=y
CONFIG_NOMMU=y
CONFIG_NUM_TASKS=4
CONFIG_TASK_NAME_LEN=16
CONFIG_TASK_TIME_SLICE_MS=10
CONFIG_KLOG_BUF_SIZE=1
# CONFIG_ABI_EMU is not set
# end of Kernel

#
# Userland
#
CONFIG_OOL_BUFFER_LEN=0
# end of Userland

CONFIG_MODULES=y

#
# Servers
#
# CONFIG_BOOTSTRAP_BOOTSTRAP is not set
CONFIG_BOOTSTRAP_NOMMU_TEST=y

#
# Enabled servers
#

#
# <*>: autostarted / <M>: manually started from shell
#
# CONFIG_SHELL_SERVER is not set
# CONFIG_TCPIP_SERVER is not set
# CONFIG_WEBAPI_SERVER is not set
# CONFIG_MINLIN_SERVER is not set

#
# Applications
#
# CONFIG_HELLO_SERVER is not set
# CONFIG_BENCHMARK_SERVER is not set
# CONFIG_TEST_SERVER is not set
# end of Applications

#
# Filesystem Drivers
#
# CONFIG_TARFS_SERVER is not set
# CONFIG_FATFS_SERVER is not set
# end of Filesystem Drivers

#
# Device Drivers
#
# CONFIG_DISPLAY_SERVER is not set
# CONFIG_PS2KBD_SERVER is not set
# CONFIG_RAMDISK_SERVER is not set
# CONFIG_E1000_SERVER is not set
# end of Device Drivers
# end of Enabled servers

CONFIG_BOOTSTRAP="nommu_test"

#
# NOMMU test
#
# end of NOMMU test
# end of Servers
