#
#  A fragment of .config file used in CI. Any other values will be filled in
#  with defaults.
#
CONFIG_ARCH_ARM=y
CONFIG_MACHINE_MICROBIT=y
CONFIG_BUILD_DEBUG=y

CONFIG_NUM_SYMBOLS=128
CONFIG_NOMMU=y
CONFIG_NUM_TASKS=2
CONFIG_TASK_NAME_LEN=16
CONFIG_KLOG_BUF_SIZE=1
CONFIG_OOL_BUFFER_LEN=0

CONFIG_BOOT_TASK_NOMMU_TEST=y
