# CONFIG_ARCH_X64 is not set
CONFIG_ARCH_ARM64=y
# CONFIG_ARCH_ARM is not set
# CONFIG_BUILD_DEBUG is not set
CONFIG_BUILD_RELEASE=y

#
# Common Setup (kernel and userland)
#
CONFIG_NUM_SYMBOLS=512
# end of Common Setup (kernel and userland)

#
# Kernel
#
CONFIG_ARCH="arm64"

#
# ARM64 Options
#
# CONFIG_TRACE_EXCEPTION is not set
# end of ARM64 Options

# CONFIG_TRACE_IPC is not set
CONFIG_IPC_FASTPATH=y
# CONFIG_NOMMU is not set
CONFIG_NUM_TASKS=64
CONFIG_TASK_NAME_LEN=16
CONFIG_TASK_TIME_SLICE_MS=10
CONFIG_KLOG_BUF_SIZE=1024
# CONFIG_ABI_EMU is not set
# end of Kernel

#
# Userland
#
CONFIG_OOL_BUFFER_LEN=16384
# end of Userland

CONFIG_MODULES=y

#
# Servers
#
CONFIG_BOOTSTRAP_BOOTSTRAP=y

#
# Enabled servers
#

#
# <*>: autostarted / <M>: manually started from shell
#
# CONFIG_SHELL_SERVER is not set
# CONFIG_TCPIP_SERVER is not set
# CONFIG_WEBAPI_SERVER is not set
# CONFIG_MINLIN_SERVER is not set

#
# Applications
#
# CONFIG_HELLO_SERVER is not set
# CONFIG_BENCHMARK_SERVER is not set
CONFIG_TEST_SERVER=y
# end of Applications

#
# Filesystem Drivers
#
# CONFIG_TARFS_SERVER is not set
# CONFIG_FATFS_SERVER is not set
# end of Filesystem Drivers

#
# Device Drivers
#
# CONFIG_DISPLAY_SERVER is not set
# CONFIG_PS2KBD_SERVER is not set
# CONFIG_RAMDISK_SERVER is not set
# CONFIG_E1000_SERVER is not set
# end of Device Drivers
# end of Enabled servers

#
# Bootstrap
#
CONFIG_BOOTSTRAP="bootstrap"
# end of Bootstrap

#
# Kernel/Userland integrated tests
#
# end of Servers
